<div class="row justify-content-center align-items-center">
    <div class="col-lg-6 order-2 order-lg-1">
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let image of images; let i = index" class="carousel-item" data-bs-interval="5000"
                    [ngClass]="{ 'active': i === 0 }">
                    <img [src]="image" class="img-fluid welcome-img" alt="education">
                </div>
            </div>
        </div>        
    </div>
    <div class="col-lg-6 order-1 order-lg-2 text-end">
        <h1 class="fw-bold pt-3">Education <span class="flag-icon flag-icon-nl me-1"></span><span class="flag-icon flag-icon-be"></span></h1>
        <div class="row">
            <div class="col-lg-12">
                <h5><span class="fw-bold">Full Stack Developer</span> - SyntraPXL, Genk</h5>
                <p>2022-2023</p>
                <p>Geslaagd voor front-end, momenteel nog bezig met back-end.</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Ondernemerschap</span> - SyntraPXL, Genk</h5>
                <p>2022-2023</p>
                <p>Cursus afgewerkt en getuigschrift behaald.</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Algemeen Winkelbediende</span> - VDAB, Genk</h5>
                <p>2010</p>
                <p>Cursus afgewerkt en getuigschrift behaald.</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Interieurarchitectuur</span> - PHL, Hasselt</h5>
                <p>2007 - 2008</p>
                <p>Studies stopgezet na het eerste semester.</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Secretariaat-Talen</span> - Technisch Atheneum II, Genk</h5>
                <p>2006 - 2007</p>
                <p>Diploma secundair onderwijs (A2) behaald.</p>
            </div>
        </div>
    </div>
</div>