<div class="row justify-content-center align-items-center text-end">
    <div class="col-lg-6">
        <img src="assets/education.png" alt="welcome" class="img-fluid welcome-img">
    </div>
    <div class="col-lg-6">
        <h1 class="fw-bold">Education</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, sit quisquam! Aspernatur, quos ea. Repudiandae
            fugiat pariatur sed saepe, expedita debitis, ad qui labore doloribus inventore ex accusamus? Ducimus,
            temporibus.</p>
    </div>
</div>