<!-- navbar -->
<!-- <nav class="navbar navbar-dark fixed-top navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/icon.png" alt="icon" class="img-fluid icon-img"> Alex Tsika
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto text-end">
                <a class="nav-link active" aria-current="page" href="#" data-target-id="home"><i
                        class="fa-solid fa-house"></i></a>
                <a class="nav-link" (click)="scrollToElement('profile')" data-target-id="profile">Profile</a>
                <a class="nav-link" (click)="scrollToElement('languages')" data-target-id="languages">Languages</a>
                <a class="nav-link" (click)="scrollToElement('skills')" data-target-id="skills">Skills</a>
                <a class="nav-link" (click)="scrollToElement('experience')" data-target-id="experience">Experience <span class="flag-icon flag-icon-nl"></span></a>
                <a class="nav-link" (click)="scrollToElement('education')" data-target-id="education">Education <span class="flag-icon flag-icon-nl"></span></a>
                <a class="nav-link" (click)="scrollToElement('contact')" data-target-id="contact">Contact</a>
            </div>
        </div>
    </div>
</nav> -->
<!-- end navbar -->

<!-- navbar -->
<nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/icon.png" alt="icon" class="img-fluid icon-img"> Alex Tsika
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><img src="assets/icon.png" alt="icon" class="img-fluid icon-img"> Alex Tsika</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 text-end" >
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" data-target-id="home"><i
                                class="fa-solid fa-house"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToElement('profile')" data-target-id="profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToElement('languages')" data-target-id="languages">Languages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToElement('skills')" data-target-id="skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToElement('experience')" data-target-id="experience">Experience <span class="flag-icon flag-icon-nl"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToElement('education')" data-target-id="education">Education <span class="flag-icon flag-icon-nl"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scrollToElement('contact')" data-target-id="contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- end navbar -->