<!-- navbar -->
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img src="assets/icon.png" alt="icon" class="img-fluid icon-img"> Alexandros Tsikakis
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto text-end">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Profile</a>
            <a class="nav-link" href="#">Skills</a>
            <a class="nav-link" href="#">Languages</a>
            <a class="nav-link" href="#">Experience</a>
            <a class="nav-link" href="#">Education</a>
            <a class="nav-link" href="#">Contact</a>
        </div>
        </div>
    </div>
    </nav>
<!-- end navbar -->