<!-- navbar -->
<nav class="navbar navbar-dark fixed-top navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img src="assets/icon.png" alt="icon" class="img-fluid icon-img"> Alexandros Tsikakis
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto text-end">
            <a class="nav-link active" aria-current="page" href="#" data-target-id="home">Home</a>
            <a class="nav-link" (click)="scrollToElement('profile')" data-target-id="profile">Profile</a>
            <a class="nav-link" (click)="scrollToElement('skills')" data-target-id="skills">Skills</a>
            <a class="nav-link" (click)="scrollToElement('languages')" data-target-id="languages">Languages</a>
            <a class="nav-link" (click)="scrollToElement('experience')" data-target-id="experience">Experience</a>
            <a class="nav-link" (click)="scrollToElement('education')" data-target-id="education">Education</a>
            <a class="nav-link" (click)="scrollToElement('contact')" data-target-id="contact">Contact</a>                        
        </div>
        </div>
    </div>
    </nav>
<!-- end navbar -->