<div class="row justify-content-center align-items-evenly text-center">
    <div class="col-lg-6">
        <img src="assets/experience1.png" alt="experience" class="img-fluid welcome-img">
        <img src="assets/experience2.png" alt="experience" class="img-fluid welcome-img">
        <img src="assets/experience3.png" alt="experience" class="img-fluid welcome-img">
    </div>
    <div class="col-lg-6 text-end">
        <h1 class="fw-bold mb-2">Experience</h1>
        <div class="row">
            <div class="col-lg-12">
                <h5>Menute.be, Heusden-Zolder - <span class="fw-bold">Full Stack Developer</span></h5>
                <p><small>2023 (1 maand stage)</small></p>
                <p>Front-end: Admin Angular App voor restauranthouders, Back-end: Laravel E-Mail templates</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5>IPG Group voor Telenet, Kiewit - <span class="fw-bold">Call Agent</span></h5>
                <p><small>2021 - 2022 (6 maanden)</small></p>
                <p>Tech support voor internet, tv en telefoon</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5>Nike Logistics Center, Laakdal - <span class="fw-bold">Orderpicker</span></h5>
                <p><small>2019 (3 maanden)</small></p>
                <p>Goederen aanvullen, picken, inpakken en verzendklaar maken</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5>Scania Parts Logistics, Oudsbergen - <span class="fw-bold">Magazijnmedewerker</span></h5>
                <p><small>2018 - 2019 (7 maanden)</small></p>
                <p>Goederen aanvullen met hoge orderpicktruck (9m), sorteren, uitpakken van goederen en andere afdelingen bijstaan in
                    drukke periodes voor allerlei diverse taken</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5>H. Essers, Winterslag - <span class="fw-bold">Orderpicker</span></h5>
                <p><small>2018 (4 maanden)</small></p>
                <p>Goederen picken met lage orderpicktruck</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5>Overland Shoes BVBA, Maasmechelen - <span class="fw-bold">Verkoper</span></h5>
                <p><small>2015 (2 maanden)</small></p>
                <p>Kassa, goederen aanvullen en klanten helpen</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5>Bart Smit, Genk - <span class="fw-bold">Verkoper</span></h5>
                <p><small>2013 - 2014 (4 maanden)</small></p>
                <p>Kassa, goederen aanvullen en klanten helpen</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5>Fun, Kuringen - <span class="fw-bold">Magazijnier</span></h5>
                <p><small>2011 (2 maanden)</small></p>
                <p>Leveringen ontvangen, uitpakken en klaarmaken voor in de winkel. Goederen aanvullen en klanten helpen</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5>Bart Smit, Genk - <span class="fw-bold">Verkoper</span></h5>
                <p><small>2010 - 2011 (4 maanden)</small></p>
                <p>Kassa, goederen aanvullen en klanten helpen</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5>Colruyt, Genk - <span class="fw-bold">Verkoper</span></h5>
                <p><small>2010 (1 maand stage)</small></p>
                <p>Goederen aanvullen en klanten helpen</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5>Ziekenhuis Oost-Limburg, Genk - <span class="fw-bold">Arbeider</span></h5>
                <p><small>2007 (1 maand vakantiewerk)</small></p>
                <p>Linnen en vuilniszakken ophalen</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5>Harsch & Co, Genk - <span class="fw-bold">Administratief bediende</span></h5>
                <p><small>2007 (1 maand stage)</small></p>
                <p>Administratie</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5>CLB, Genk — Administratief bediende - <span class="fw-bold">Administratief bediende</span></h5>
                <p><small>2006 (1 maand stage)</small></p>
                <p>Administratie</p>
            </div>
        </div>
    </div>
</div>