<div class="row justify-content-center align-items-evenly text-start">
    <div class="col-lg-6">
        <h1 class="fw-bold pt-3">Experience <span class="flag-icon flag-icon-nl"></span></h1>
        <div class="row">
            <div class="col-lg-12">
                <h5><span class="fw-bold">Full Stack Developer</span> - Menute.be, Heusden-Zolder</h5>
                <p><small>2023 (1 maand stage)</small></p>
                <p>Front-end: Admin Angular App voor restauranthouders, Back-end: Laravel E-Mail templates</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Call Agent</span> - IPG Group voor Telenet, Kiewit</h5>
                <p><small>2021 - 2022 (6 maanden)</small></p>
                <p>Tech support voor internet, tv en telefoon</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Orderpicker</span> - Nike Logistics Center, Laakdal</h5>
                <p><small>2019 (3 maanden)</small></p>
                <p>Goederen aanvullen, picken, inpakken en verzendklaar maken</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Magazijnmedewerker</span> - Scania Parts Logistics, Oudsbergen</h5>
                <p><small>2018 - 2019 (7 maanden)</small></p>
                <p>Goederen aanvullen met hoge orderpicktruck (9m), sorteren, uitpakken van goederen en andere
                    afdelingen bijstaan in drukke periodes voor allerlei diverse taken</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Orderpicker</span> - H. Essers, Winterslag</h5>
                <p><small>2018 (4 maanden)</small></p>
                <p>Goederen picken met lage orderpicktruck</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Verkoper</span> - Overland Shoes BVBA, Maasmechelen</h5>
                <p><small>2015 (2 maanden)</small></p>
                <p>Kassa, goederen aanvullen en klanten helpen</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Verkoper</span> - Bart Smit, Genk</h5>
                <p><small>2013 - 2014 (4 maanden)</small></p>
                <p>Kassa, goederen aanvullen en klanten helpen</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Magazijnier</span> - Fun, Kuringen</h5>
                <p><small>2011 (2 maanden)</small></p>
                <p>Leveringen ontvangen, uitpakken en klaarmaken voor in de winkel. Goederen aanvullen en klanten helpen
                </p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Verkoper</span> - Bart Smit, Genk</h5>
                <p><small>2010 - 2011 (4 maanden)</small></p>
                <p>Kassa, goederen aanvullen en klanten helpen</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Verkoper</span> - Colruyt, Genk</h5>
                <p><small>2010 (1 maand stage)</small></p>
                <p>Goederen aanvullen en klanten helpen</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Arbeider</span> - Ziekenhuis Oost-Limburg, Genk</h5>
                <p><small>2007 (1 maand vakantiewerk)</small></p>
                <p>Linnen en vuilniszakken ophalen</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Administratief bediende</span> - Harsch &amp; Co, Genk</h5>
                <p><small>2007 (1 maand stage)</small></p>
                <p>Administratie</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Administratief bediende</span> - CLB, Genk</h5>
                <p><small>2006 (1 maand stage)</small></p>
                <p>Administratie</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <img src="assets/experience.png" alt="experience" class="img-fluid welcome-img">
    </div>
</div>