<div class="row justify-content-center align-items-evenly">
    <div class="col-lg-6 text-start">
        <h1 class="fw-bold pt-3">Experience</h1>
        <div class="row">
            <div class="col-lg-12">
                <h5><span class="fw-bold">Full Stack Developer</span> - Menute.be, Heusden-Zolder</h5>
                <p><small>2023 (internship)</small></p>
                <p>Front-end: Admin Angular App for restaurant owners, Back-end: Laravel E-Mail templates</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Call Agent</span> - IPG Group for Telenet, Kiewit</h5>
                <p><small>2021 - 2022</small></p>
                <p>Tech support for internet, TV, and phone</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Orderpicker</span> - Nike Logistics Center, Laakdal</h5>
                <p><small>2019</small></p>
                <p>Stock replenishment, picking, packaging, and preparing for shipment</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Warehouse Operations Assistent</span> - Scania Parts Logistics, Oudsbergen
                </h5>
                <p><small>2018 - 2019</small></p>
                <p>Managing warehouse inventory using SAP system, stock replenishment using a high order pick truck
                    (9m), unpacking and sorting goods, assisting other
                    departments with various tasks</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Orderpicker</span> - H. Essers, Winterslag</h5>
                <p><small>2018</small></p>
                <p>Picking goods using a low order pick truck</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Sales Associate</span> - Overland Shoes BVBA, Maasmechelen</h5>
                <p><small>2015</small></p>
                <p>Operating the cash register, stocking goods, and helping customers</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Sales Associate</span> - Bart Smit, Genk</h5>
                <p><small>2013 - 2014</small></p>
                <p>Operating the cash register, stocking goods, and helping customers</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Warehouse Worker</span> - Fun, Kuringen</h5>
                <p><small>2011</small></p>
                <p>Receiving deliveries, unpacking and preparing goods for the store. Stock replen
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Sales Associate</span> - Bart Smit, Genk</h5>
                <p><small>2010 - 2011</small></p>
                <p>Operating the cash register, stocking goods, and helping customers</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Sales Clerk</span> - Colruyt, Genk</h5>
                <p><small>2010 (internship)</small></p>
                <p>Stock replenishment and helping customers</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Laborer</span> - Ziekenhuis Oost-Limburg, Genk</h5>
                <p><small>2007 (summer job)</small></p>
                <p>Collecting linen and trash bags</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Administrative Assistant</span> - Harsch &amp; Co, Genk</h5>
                <p><small>2007 (internship)</small></p>
                <p>Administration work</p>
            </div>
            <hr>
            <div class="col-lg-12">
                <h5><span class="fw-bold">Administrative Assistant</span> - CLB, Genk</h5>
                <p><small>2006 (internship)</small></p>
                <p>Administration work</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let image of images; let i = index" class="carousel-item" data-bs-interval="5000"
                    [ngClass]="{ 'active': i === 0 }">
                    <img [src]="image" class="img-fluid welcome-img" alt="experience">
                </div>
            </div>
        </div>
    </div>
</div>