<!-- phone -->
<div class="row justify-content-center align-items-center mb-2">
    <div class="col-auto">
        <p>
            <a class="text-decoration-none text-custom" href="tel:0032485140832">
                <span class="link-custom"><i class="fa-solid fa-phone"></i> +32(0)485 14 08 32</span>
            </a>
        </p>
    </div>
</div>
<!-- end phone -->

<!-- email -->
<div class="row justify-content-center align-items-center link-custom mb-2">
    <div class="col-auto">
        <p>
            <a target="_blank" class="text-decoration-none text-custom" href="mailto:alexandros.tsikakis@ymail.com">
                <span class="link-custom"><i class="fa-regular fa-envelope-open"></i> Alexandros.Tsikakis@Ymail.com</span>
            </a>
        </p>
    </div>
</div>
<!-- end email -->

<!-- address -->
<div class="row justify-content-center align-items-center">
    <div class="col-auto">
        <i class="fa-solid fa-location-dot"></i>
    </div>
    <div class="col-auto">
        Priesterhaagstraat 5 bus 7<br>3600 Genk België
    </div>
</div>
<!-- end address -->