<div class="row justify-content-center align-items-center text-start">
    <div class="col-lg-6">
        <h1 class="fw-bold">Contact</h1>

        <!-- phone -->
        <div class="row justify-content-center align-items-center mb-2">
            <div class="col-lg-12">
                <p>
                    <a class="text-decoration-none text-dark" href="tel:0032485140832">
                        <span class="phone-custom p-1 rounded"><i class="fa-solid fa-phone"></i> +32(0)485 14 08
                            32</span>
                    </a>
                </p>
            </div>
        </div>
        <!-- end phone -->

        <!-- email -->
        <div class="row justify-content-center align-items-center link-custom mb-2">
            <div class="col-lg-12">
                <p>
                    <a target="_blank" class="text-decoration-none text-dark"
                        href="mailto:alexandros.tsikakis@ymail.com">
                        <span class="linkedin-custom p-1 rounded"><i class="fa-regular fa-envelope-open"></i>
                            Alexandros.Tsikakis@ymail.com</span>
                    </a>
                </p>
            </div>
        </div>
        <!-- end email -->

        <!-- socal media -->
        <div class="row justify-content-center align-items-center mb-2">
            <div class="col-lg-12">
                <p>
                    <a href="https://www.linkedin.com/in/alexandros-tsikakis-3b525a252/" target="_blank"
                        class="text-decoration-none text-dark">
                        <span class="linkedin-custom p-1 rounded">Linked<i class="fa-brands fa-linkedin"></i></span>
                    </a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mb-2">
            <div class="col-lg-12">
                <p>
                    <a href="https://github.com/AlexTsika" target="_blank" class="text-decoration-none text-dark">
                        <span class="github-custom p-1 rounded"><i class="fa-brands fa-github"></i> Github</span>
                    </a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mb-2">
            <div class="col-lg-12">
                <p>
                    <a href="https://github.com/AlexTsika/my-resume" target="_blank"
                        class="text-decoration-none text-dark">
                        <span class="github-custom p-1 rounded"><i class="fa-solid fa-code-fork"></i> Repository</span>
                    </a>
                </p>
            </div>
        </div>
        <!-- end social media -->

    </div>
    <div class="col-lg-6">
        <img src="assets/contact.png" alt="welcome" class="img-fluid welcome-img">
    </div>
</div>