<div class="row justify-content-center align-items-center">
  <div class="col-lg-6">
    <img src="assets/skills.png" alt="skills" class="img-fluid welcome-img">
  </div>
  <div class="col-lg-6 text-end">
    <h1 class="fw-bold">Skills</h1>
    <div class="row">
      <div class="col-lg-6 text-start">
        <h2>Front End</h2>
        <ul class="list-unstyled">
          <li><span class="fw-bold">HTML</span> - Structuring content for the web</li>
          <li><span class="fw-bold">CSS</span> - Styling web pages</li>
          <li><span class="fw-bold">Bootstrap</span> - Responsive web design</li>
          <li><span class="fw-bold">JavaScript</span> - Client-side scripting</li>
          <li><span class="fw-bold">jQuery</span> - Simplifying JavaScript programming</li>
          <li><span class="fw-bold">TypeScript</span> - Typed superset of JavaScript</li>
          <li><span class="fw-bold">Angular</span> - Front-end web application framework</li>
        </ul>
      </div>
      <div class="col-lg-6 text-end">
        <h2>Back End</h2>
        <ul class="list-unstyled">
          <li>Query language - <span class="fw-bold">SQL</span></li>
          <li>Relational database management - <span class="fw-bold">MySQL</span></li>
          <li>Server-side scripting - <span class="fw-bold">PHP</span></li>
          <li>PHP web application framework - <span class="fw-bold">Laravel</span></li>
        </ul>        
      </div>
      <div class="col-lg-12">
        <h2>Project Management</h2>
        <p>Experience with <span class="fw-bold">Agile Scrum</span> methodologies for managing projects and
          collaborating with team members.</p>
      </div>
    </div>
  </div>
</div>