<!-- header/navbar -->
<div class="container-fluid header-container bg-dark">
  <app-header></app-header>
</div>
<!-- end header/navbar -->

<!-- main content -->
<div class="container-fluid content-container d-flex justify-content-center align-items-center">
  <div class="row justify-content-center align-items-center text-center w-100 bg-secondary">
    <div class="col-lg-12 app-col" id="home">
      <!-- home -->
      <app-home></app-home>
      <!-- end home -->
    </div>
    <div class="col-lg-12 app-col" id="profile">
      <!-- profile -->
      <app-profile></app-profile>
      <!-- end profile -->
    </div>
    <div class="col-lg-12 app-col" id="skills">
      <!-- skills -->
      <app-skills></app-skills>
      <!-- end skills -->
    </div>
    <div class="col-lg-12 app-col" id="languages">
      <!-- languages -->
      <app-languages></app-languages>
      <!-- end languages -->
    </div>
    <div class="col-lg-12 app-col" id="experience">
      <!-- experience -->
      <app-experience></app-experience>
      <!-- end experience -->
    </div>
    <div class="col-lg-12 app-col" id="education">
      <!-- education -->
      <app-education></app-education>
      <!-- end education -->
    </div>
    <div class="col-lg-12 app-col" id="contact">
      <!-- contact -->
      <app-contact></app-contact>
      <!-- end contact -->
    </div>
  </div>
</div>
<!-- end main content -->

<!-- footer -->
<div class="container-fluid footer-container bg-dark">
  <app-footer></app-footer>
</div>
<!-- end footer -->