<div class="row justify-content-center align-items-center">
    <div class="col-lg-6 text-start">
        <h1 class="fw-bold mb-4">Languages</h1>
        <ul class="list-unstyled">
            <li class="mb-2">
                <h5 class="d-inline"><span class="flag-icon flag-icon-nl me-3"></span><span
                        class="fw-bold">Dutch:</span> native speaker</h5>
            </li>
            <li class="mb-2">
                <h5 class="d-inline"><span class="flag-icon flag-icon-gb me-3"></span><span
                        class="fw-bold">English:</span> fluent</h5>
            </li>
            <li class="mb-2">
                <h5 class="d-inline"><span class="flag-icon flag-icon-fr me-3"></span><span
                        class="fw-bold">French:</span> intermediate</h5>
            </li>
            <li class="mb-2">
                <h5 class="d-inline"><span class="flag-icon flag-icon-de me-3"></span><span
                        class="fw-bold">German:</span> basic</h5>
            </li>
        </ul>
    </div>
    <div class="col-lg-6">
        <img src="assets/language.png" alt="welcome" class="img-fluid welcome-img">
    </div>
</div>