<div class="row justify-content-center align-items-center text-end">
    <div class="col-lg-6 order-2 order-lg-1">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let image of images; let i = index" class="carousel-item" data-bs-interval="3000"
                    [ngClass]="{ 'active': i === 0 }">
                    <img [src]="image" class="img-fluid welcome-img" alt="profile">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 order-1 order-lg-2">
        <h1 class="fw-bold pt-3">Profile</h1>
        <p>As a recently graduated <span class="fw-bold">Full Stack Developer</span>, I am passionate about creating
            dynamic and user-friendly web applications that deliver a seamless user experience.</p>
        <p>My technical expertise includes proficiency in <span class="fw-bold">HTML</span>, <span
                class="fw-bold">CSS</span>, <span class="fw-bold">Bootstrap</span>, <span
                class="fw-bold">JavaScript</span>, <span class="fw-bold">jQuery</span>, <span
                class="fw-bold">TypeScript</span>, <span class="fw-bold">Angular</span>, <span
                class="fw-bold">SQL</span>, <span class="fw-bold">MySQL</span>, <span class="fw-bold">PHP</span>, and
            <span class="fw-bold">Laravel</span>, as well as a strong foundation in Agile Scrum methodologies.</p>
        <p>While I am still building my professional experience, I have completed relevant coursework and projects that
            demonstrate my ability to apply my skills in real-world settings.</p>
        <p>I am dedicated to staying up-to-date with the latest technologies and trends in the field, and am constantly
            seeking new challenges to enhance my skills and expertise.</p>
    </div>
</div>