@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: silver;
}

.header-container {
    min-height: 10vh;
}

.content-container {
    min-height: 90vh;
}

.app-col {
    min-height: 90vh;
}

.footer-container {
    min-height: 20vh;
}

.icon-img {
    max-height: 7vh;
}

.welcome-img {
    max-height: 90vh;
}

.footer-img {
    max-height: 20vh;
}

.nav-link {
    cursor: pointer;
}

.link-custom:hover {
    color: #5c8ab4;
    cursor: pointer;
}

.phone-custom:hover {
    color: #009966;
    background-color: #212529;
}

.linkedin-custom:hover {
    color: #0077B5;
    background-color: #212529;
}

.github-custom:hover {
    color: #cdd9e5;
    background-color: #212529;
}

.text-custom {
    color: silver;
}



/* Set the scrollbar width and color for Google Chrome and Safari */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #212529;
}

::-webkit-scrollbar-thumb {
    background-color: silver;
    border: 1px solid #212529;
    border-radius: 5px;
}