@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    background-color: lightskyblue;
}
.header-container {
    min-height: 10vh;
}

.content-container {
    min-height: 90vh;
}

.footer-container {
    min-height: 20vh;
}

.icon-img {
    max-height: 10vh;
}