<div class="row justify-content-center align-items-center">
    <div class="col-lg-6 text-start">
        <h1 class="pt-3">
            <span class="fw-bold">Alex</span><span class="fw-light">andros</span><br>
            <span class="fw-bold">Tsika</span><span class="fw-light">kis</span>
        </h1>
        <h2>Full Stack Developer</h2>
    </div>
    <div class="col-lg-6">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let image of images; let i = index" class="carousel-item" data-bs-interval="3000"
                    [ngClass]="{ 'active': i === 0 }">
                    <img [src]="image" class="img-fluid welcome-img" alt="welcome">
                </div>
            </div>
        </div>
    </div>
</div>